.bordeNaranja:hover {
  border: 2px dashed lightsalmon;
}

.centrarContenidos {
  text-align: center;
}

.icon {
  width: 25px;
  height: 25px;
}

.tituloCompartido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 1vw;
}

.fondoNaranja {
  background: lightsalmon;
}

.bloqueCentrado {
  display: block;
  margin: 1vh auto;
}

.logo {
  width: 150px;
}

h3 {
  margin: 2vh 0;
  color: #007bff;
}

.clickeable {
  cursor: pointer;
}

.margenCero {
  margin: 0;
}

.mensajeSeparado {
  margin: 5vh 5vw;
  font-size: 24px;
}
