.bordeNaranja:hover {
  border: 2px dashed lightsalmon;
}

.centrarContenidos {
  text-align: center;
}

.icon {
  width: 25px;
  height: 25px;
}

.tituloCompartido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 1vw;
}

.fondoNaranja {
  background: lightsalmon;
}

.bloqueCentrado {
  display: block;
  margin: 1vh auto;
}

.centradoSeparado {
  text-align: center;
  margin: 5vh 2vw;
}

.logo {
  width: 150px;
}

h1 {
  font-size: 1.6rem;
  margin: 4vh 0;
  color: #007bff;
}

h2 {
  font-size: 1.3rem;
  margin: 2vh 0;
  color: #007bff;
}

h3 {
  font-size: 1.1rem;
  margin: 3vh 0;
  color: #007bff;
}


.clickeable {
  cursor: pointer;
}

.margenCero {
  margin: 0;
}

.textoSubrayado {
  text-decoration: underline;
}

.alinearDerecha {
  text-align: right;
  margin: 0 1vw;
}

.botonSeparadoHor {
  margin: 0 4vw;
}
